/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

 #bt {
    position: fixed;
    bottom: 50px;
    right: 5px;
}

#bt a {
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #990000;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;

}

#bt a:hover {
    color: #000;
}

#bt span {
    display: block;
    margin-bottom: 7px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#bt a:hover span {
    color: #006699;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99;
}

#cssload {
    background: url(../img/ajax-loader.gif) no-repeat center;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}
